body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: brown;
}

#Container {
    background-color: white;
    display: flex;
    width: 70%; 
    height: auto;
    gap: 20px; 
    padding: 20px;
    
    border-radius: 20px;
    
    border: dashed 15px brown;
    
}

#ProductImg {
    flex: 1;
    max-width: 50%; 
    height: auto;
}

#ProductImg img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

#ContainerProductDetails {
    background-color: white;
    flex: 1;
    border-left: dashed 10px brown;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    max-width: 30%; 
    height: auto;
    gap: 10px; 
}
